html, body {
  margin: 0;
  padding: 0;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 400; }

header {
  margin: 0;
  padding: 24px;
  color: white;
  background-color: blue; }

h1 {
  margin: 0;
  padding: 0;
  font-weight: 500; }

.subheader {
  display: block;
  font-size: 80%;
  font-weight: 400;
  opacity: .8; }

.description {
  padding: 24px;
  line-height: 1.6; }
  .description p {
    max-width: 900px; }

.elements {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-gap: 24px;
  padding: 24px; }

.elements__item {
  position: relative;
  padding-top: 100%; }
  .elements__item iframe {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0; }

.elements__labels {
  position: absolute;
  left: 8px;
  bottom: 8px; }

.labels {
  display: flex;
  flex-wrap: wrap-reverse;
  font-size: 80%;
  opacity: .4; }

.labels__item {
  margin-right: 8px;
  margin-top: 8px;
  padding: 4px 16px;
  border: 1px solid black;
  border-radius: 40px; }

.container {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  max-width: 560px;
  max-height: 560px;
  background-color: whitesmoke; }
