html, body {
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400;
}

header {
    margin: 0;
    padding: 24px;
    color: white;
    background-color: blue;
}

h1 {
    margin: 0;
    padding: 0;
    font-weight: 500;
}
.subheader {
    display: block;
    font-size: 80%;
    font-weight: 400;
    opacity: .8;
}

.description {
    padding: 24px;
}

.elements {
    display: grid;
    // grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 24px;
    padding: 24px;
}
.elements__item {
    position: relative;
    padding-top: 100%;

    iframe {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
    }
}
