.container {
    background-color: #C5E1A5;
    perspective: 1600px;
    transform-style: preserve-3d;
}

$cube-size: 100px;
.cube {
    width: $cube-size * 2;
    height: $cube-size * 2;
    position: relative;
    transform-style: preserve-3d;
    transform: translateZ($cube-size * 5) rotate3d(1, 0, .5, 60deg);
    transition: transform 200ms ease;
}
.cube__front,
.cube__back,
.cube__left,
.cube__right,
.cube__top,
.cube__bottom {
    position: absolute;
    background: radial-gradient(circle at 24px 16px, #fff, #fff 8px, transparent 8px),
                radial-gradient(circle at 52px 64px, #fff, #fff 8px, transparent 8px),
                radial-gradient(circle at 64px 32px, #fff, #fff 8px, transparent 8px);
    background-size: 80px 80px;
    background-position: 0 16px;
    background-color: #FF5722;
}
.cube__front {
    left: 0;
    top: 0;
    width: $cube-size * 2;
    height: $cube-size * 2;
    background-color: #FF5722;
}
.cube__back {
    width: $cube-size * 2;
    height: $cube-size * 2;
    transform: translateZ(-$cube-size / 2);
    background-color: #FFF3E0;
}
.cube__left {
    right: 100%;
    top: 0;
    width: $cube-size / 2;
    height: $cube-size * 2;
    background-color: #F4511E;
    transform-origin: right top;
    transform: rotateY(-90deg);
}
.cube__right {
    left: 100%;
    top: 0;
    width: $cube-size / 2;
    height: $cube-size * 2;
    background-color: #F4511E;
    transform-origin: left top;
    transform: rotateY(90deg);
}
.cube__top {
    left: 0;
    bottom: 100%;
    width: $cube-size * 2;
    height: $cube-size / 2;
    background-color: #FF7043;
    transform-origin: left bottom;
    transform: rotateX(90deg);
}
.cube__bottom {
    left: 0;
    top: 100%;
    width: $cube-size * 2;
    height: $cube-size / 2;
    background-color: #FF7043;
    transform-origin: left top;
    transform: rotateX(-90deg);
}
