.container {
    background-color: aliceblue;
}

.logo {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 160px;
    height: 160px;
    background-color: white;
    border-radius: 16px;
    box-shadow: 0 8px 48px rgba(darkblue, .2), 0 2px 16px rgba(darkblue, .1);
    overflow: hidden;
}

$line-size: 44px;
.logo__lines {
    position: absolute;
    left: -2px;
    right: -2px;
    top: -2px;
    bottom: -2px;
    transform: rotate(-5deg);
}
.logo__line {
    position: absolute;
    opacity: .3;
    animation-duration: 4000ms;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;

    &:nth-child(1) {
        left: -10px;
        right: -10px;
        top: -10px;
        height: $line-size;
        background-color: gold;
        animation-name: from-left;
    }
    &:nth-child(2) {
        left: -10px;
        right: -10px;
        bottom: -10px;
        height: $line-size;
        background-color: blue;
        animation-name: from-right;
    }
    &:nth-child(3) {
        left: -10px;
        top: -10px;
        bottom: -10px;
        width: $line-size;
        background-color: deeppink;
        animation-name: from-bottom;
    }
    &:nth-child(4) {
        right: -10px;
        top: -10px;
        bottom: -10px;
        width: $line-size;
        background-color: cyan;
        animation-name: from-top;
    }
}
.logo__name {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: 48px;
    animation-name: appear-name;
    animation-duration: 4000ms;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;

    span {
        &:first-child, &:last-child {
            position: relative;
            font-size: 24px;
            animation-name: disappear-letter-left;
            animation-duration: 4000ms;
            animation-timing-function: ease-in-out;
            animation-iteration-count: infinite;
        }
        &:last-child {
            animation-name: disappear-letter-right;
        }
    }
}

@mixin animate-line($dir) {
    0% {
        #{$dir}: calc(100% + 10px);
    }
    20% {
        #{$dir}: -10px;
    }
    @if ($dir == left) {
        $dir: right;
    } @else if ($dir == right) {
        $dir: left;
    } @else if ($dir == top) {
        $dir: bottom;
    } @else if ($dir == bottom) {
        $dir: top;
    }
    80% {
        #{$dir}: -10px;
    }
    100% {
        #{$dir}: calc(100% + 10px);
    }
}

@keyframes from-left {
    @include animate-line(left);
}
@keyframes from-right {
    @include animate-line(right);
}
@keyframes from-top {
    @include animate-line(top);
}
@keyframes from-bottom {
    @include animate-line(bottom);
}

@keyframes appear-name {
    0% {
        opacity: 0;
        transform: translate(-50%, -50%) rotate(135deg) scale(.7);
    }
    10% {
        opacity: 1;
        transform: translate(-50%, -50%) rotate(0deg) scale(1);
    }
    90% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
@keyframes disappear-letter-left {
    90% {
        right: 0;
    }
    100% {
        right: 100px;
    }
}
@keyframes disappear-letter-right {
    90% {
        left: 0;
    }
    100% {
        left: 100px;
    }
}
