.container {
    background-color: #FFF8E1;
    overflow: hidden;
}

.titler {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 0px;
    height: 200px;
    padding: 16px 0;
    color: white;
    background-color: #FF8F00;
    font-size: 24px;
    box-sizing: border-box;
    overflow: hidden;

    animation-name: titler-translate;
    animation-duration: 5000ms;
    animation-iteration-count: infinite;

    span {
        padding: 0 16px;
        animation-name: title-text-translate;
        animation-duration: 5000ms;
        animation-iteration-count: infinite;
    }
}

@keyframes titler-translate {
    0% {
        left: -1000px;
        width: 1000px;
    }
    25% {
        left: 50%;
        width: 200px;
    }
    75% {
        left: 50%;
        width: 200px;
    }
    100% {
        left: calc(100% + 1000px);
        width: 1000px;
    }
}
@keyframes title-text-translate {
    0% {
        transform: translateX(-200px);
    }
    15% {
        transform: translateX(-200px);
    }
    30% {
        transform: translateX(0px);
    }
    75% {
        transform: translateX(0px);
    }
    100% {
        transform: translateX(-200px);
    }
}
