.container {
  background-color: #E0F2F1; }

.pushing-button input {
  width: 0;
  height: 0;
  margin: 0;
  padding: 0;
  opacity: 0;
  overflow: hidden; }

.button {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 152px;
  height: 152px;
  border: none;
  border-radius: 50%;
  background-color: #26A69A;
  box-shadow: inset 8px 8px 16px rgba(255, 255, 255, 0.2), inset -8px -8px 16px rgba(0, 0, 0, 0.1), 8px 8px 16px rgba(0, 121, 107, 0.3);
  transition: background-color 250ms ease-in-out, box-shadow 250ms ease-in-out; }
  .button::before {
    content: '';
    position: absolute;
    left: -48px;
    right: -48px;
    top: -48px;
    bottom: -48px;
    border: 8px solid rgba(38, 166, 154, 0.14);
    border-radius: 50%;
    opacity: 0;
    transition: all 250ms ease-in-out; }
  .button .button__power {
    position: relative;
    width: 48px;
    height: 48px;
    border: 8px solid white;
    border-radius: 50%;
    transition: border-color 250ms ease-in-out; }
    .button .button__power::after {
      content: '';
      display: block;
      position: absolute;
      left: 50%;
      top: 2px;
      transform: translateX(-50%);
      width: 8px;
      height: 24px;
      margin-top: -24px;
      background-color: white;
      border: 8px solid #26A69A;
      transition: border-color 250ms ease-in-out, background-color 250ms ease-in-out; }
    .button .button__power::before {
      content: '';
      display: block;
      position: absolute;
      left: -32px;
      right: -32px;
      top: -32px;
      bottom: -32px;
      background-image: radial-gradient(closest-side, rgba(255, 238, 88, 0.3), rgba(255, 238, 88, 0));
      border-radius: 50%;
      z-index: 2;
      opacity: 0;
      transition: opacity 250ms ease-in-out; }
  .button:hover {
    background-color: #2bbbad;
    box-shadow: inset 8px 8px 16px rgba(255, 255, 255, 0.2), inset -8px -8px 16px rgba(0, 0, 0, 0.1), 16px 16px 16px rgba(0, 121, 107, 0.15); }
    .button:hover .button__power::after {
      border-color: #2bbbad; }
  .pushing-button input:focus + .button::before {
    left: -16px;
    right: -16px;
    top: -16px;
    bottom: -16px;
    opacity: 1; }
  .pushing-button input:checked + .button, .button:active {
    box-shadow: inset 8px 8px 16px rgba(0, 0, 0, 0.2), inset -8px -8px 16px rgba(255, 255, 255, 0.1), 0 0 0 rgba(0, 121, 107, 0), 0 0 24px white; }
    .pushing-button input:checked + .button .button__power, .button:active .button__power {
      border-color: #FFF59D;
      transition: border-color 250ms ease-in-out 200ms; }
      .pushing-button input:checked + .button .button__power::before, .button:active .button__power::before {
        opacity: 1;
        transition: opacity 250ms ease-in-out 200ms; }
      .pushing-button input:checked + .button .button__power::after, .button:active .button__power::after {
        background-color: #FFF59D;
        transition: border-color 250ms ease-in-out, background-color 250ms ease-in-out 200ms; }
